<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332103694730-sk61656r5f5g3e5cgs5ssf1br638737u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332103694730-sk61656r5f5g3e5cgs5ssf1br638737u</string>
	<key>API_KEY</key>
	<string>AIzaSyBu6tL8PuWWAknEhzKk0ajQhidx8mjNvxI</string>
	<key>GCM_SENDER_ID</key>
	<string>332103694730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hozdemir1968.ihvanKardesler</string>
	<key>PROJECT_ID</key>
	<string>ihvan-kardesler-ae5f6</string>
	<key>STORAGE_BUCKET</key>
	<string>ihvan-kardesler-ae5f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332103694730:ios:f1d8e4cf85a0bddc2e7073</string>
</dict>
</plist>